#grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#game-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}



img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

/* You can add more styles as needed */
